{{define "subject"}}Wecome to Kagubird!{{end}}

{{define "plainBody"}}
Hi,

  Thanks for signing up for a Kagubird account. We're excited to have you on board!

  Activate account: https://kagubird.com/activate?token={{.activationToken}}  

  Thanks,

  The Kagubird Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Kagubird account. We're excited to have you on board!</p>
    <a href="https://kagubird.com/activate?token={{.activationToken}}">Activate account</a>
    <p>Thanks,</p>
    <p>The Kagubird Team</p>
  </body>

</html>
{{end}}
